<div class="container">
  <video muted autoplay="" loop="" id="vid"> -->
    <source src="http://res.cloudinary.com/frankyg/video/upload/v1450158806/nap_aeuuib.mp4" type="video/mp4">
  </video>
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In!</div>
            </div>

            <div style="padding-top:30px" class="panel-body" >
                <form action="<%= session_url %>" method="post" id="loginform" class="form-horizontal" role="form">
                    <%= auth_token_input %>

                    <div style="margin-bottom: 1px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="login-username" type="text" class="form-control" name="user[username]" value="" placeholder="Enter username">
                    </div>

                    <div style="margin-bottom: 10px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="login-password" type="password" class="form-control" name="user[password]" value="" placeholder="Enter password">
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                          <button type="submit" id="sign-up-button" name="go" class="btn btn-lg btn-primary btn-block">Sign In!</button>
                        </div>
                    </div>
                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                          <button id="guest-login" class="btn btn-lg btn-primary btn-block">Guest Login!</button>
                        </div>
                    </div>


                    <div class="form-group">
                      <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Don't have an account?
                        <a href="<%= new_user_url %> ">
                            Sign Up Here
                        </a>
                        </div>
                      </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  $('#guest-login').click(function(e){
    e.preventDefault();
    console.log("test");
    $("input[name='user[username]']").val("Guest");
    $("input[name='user[password]']").val("guestguest");
    $('#sign-up-button').click()
  })
</script>
