// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-profile{
  width: 1000px;
  margin: 0 auto;
}
.user-show {
  width: 749px;
  height: 178px;
  color: #4b4f54;
  font-weight: 300;
  position: relative;
}

.user-show h1 {
  font-size: 36px;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.img img {
  height: 325px;
  width: 325px;
  padding: 11px;
}

.img {
  float: left;
  margin-left: 6px;
}

.profile-stats {
  position: absolute;
  bottom: 25px;
  left:300px;
  list-style-type: none;
  padding: 0px;
  font-size: 17px;
  margin-top:10px;
}
.profile-stat {
  float: left;
  margin-right: 5px;
}

.user-posts{
  width: 1000px;
  margin-top: 20px;
}

.user-show div.crop {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  margin: 10px 70px;
  float: left;
}

.quote{
  margin-left: 5px;
  display: inline;
}

.user-show div.crop img {
  padding: 0;
  height: 100%;
  width: 100%;
}

.user-show h1 {
  position: absolute;
  top: 10px;
  left: 300px;
  padding: 0;
}

.user-show span  {
  position: absolute;
  top: 70px;
  left: 300px;
  width: 415px;
  float: left;
}

.user-show span strong {
  font-weight: bold;
  float: left;
}

.image-detail {
  width: 303px;
  height: 303px;
  margin-left: 11px;
  margin-top: 11px;
  background-color: rgba(51, 51, 51, 0.6);
  position: absolute;
  display: none;
  color: white;
  font-size: 35px;
  text-align: center;
}

.icons {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

// .img img:hover .image-detail {
//   display: block;
//   width: 100px;
//   height: 100px;
//   z-index: 10;
//   background-color: black;
//   opacity: 0.7;
//   text-align: center;
//   line-height: 270px;
//   vertical-align: middle;
//   color: black;
//   font-size: 20px;
//   font-family: sans-serif;
// }
