<h2><%= post.escape('description') %></h2>
<h4><%= post.escape('num_likes') %></h4>
<h4><a href="#users/<%= author.escape('id')%>" ><%= author.escape('username') %></a></h4>
<div class="comments"></div>
