<div class="post-form">
  <div class="form-container">
    <form class="post-form form-horizontal">
      <div class="post-img-preview">
        <div id="spinner"></div>
        <img src="">

      </div>

      <div class="form">
       <div class="form-group">
        <input type="text" class="form-control" name="body" placeholder="Say something...">

       </div>
       <div class="form-group">
        <button class="btn btn-default photo-upload form-control">Photo Upload</button>
      </div>
       <div class="form-group">
         <input class="btn btn-success create-post form-control" type="submit" value="Post!">
       </div>
     </div>
   </form>
  </div>
  <div class="filters btn-group"></div>
</div>
