<h1>Sign Up!</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token_input %>
  <label for="username">Username</label>
  <input type="text" name="user[username]" value="<%= @user.username %>" id="username" >
  <br>
  <label for="username">Quote</label>
  <input type="text" name="user[quote]" value="<%= @user.quote %>" id="quote" >
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" value="" id="password" >
  <br>
  <div class="form-group">
   <button class="btn btn-default photo-upload form-control" id="avatar-upload">Avatar Upload</button>
  </div>
  <input type="submit" value="Sign Up!">
</form>

<script type="text/javascript" charset="utf-8">
  $("#avatar-upload").on("click", function(event){
    event.preventDefault();
    var self = this;
    var image = "";
    var thumbURL = "";
    var url = "";
    cloudinary.openUploadWidget(CLOUDINARY_OPTIONS, function(error, result){
      var data = result[0];
      var image = data.public_id + "." + data.format;
      self.image = image;
      self.thumbURL = "https://res.cloudinary.com/frankyg/image/upload/c_scale,w_300/" + image;
      $('<input>').attr({
        type: 'hidden',
        name: 'user[avatar_url]',
        value: self.thumbURL
      }).appendTo('form');
    });
})

</script>
