.logo {
  width: 125px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 45px;
 }

.main-header{
  margin: 0 auto;
  max-width: 616px;
}

.navbar-inverse {
  background-color: white;
  border-color: white);
}

#srch-bar{
  width: 200px;
}

.input-group{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-user{
  display: inline-block;
  float: right;
  padding-top: 29px;
  color: #428bca;
}

.main-header a {
  color: #23527c;
  font-size: large;
}

.glyphicon.glyphicon-camera {
  font-size: 35px;
  float: right;
  margin-top: -59px;
  padding-right: 36px;
  color: #23527c;
}
