.logo {
  width: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 52px;
 }

.main-header{
  margin: 0 auto;
  max-width: 616px;
}

.navbar-inverse {
  background-color: white;
  border-color: white);
}

#srch-term{
  width: 200px;
}

.input-group{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-user{
  display: inline-block;
  float: right;
  padding-top: 29px;
  color: #428bca;
}

.main-header a {
  color: #23527c;
  font-size: large;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/fonts/glyphicons-halflings-regular.eot');
  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
